Manifest.toml
.DS_Store

*.pdf
*.png
*.svg
*.eps

data
data/EUREC4A_ATOMIC_RonBrown_10min_nav_met_sea_flux_20200109-20200212_v1.3.nc
data/EUREC4A_RonBrown_Vaisala-RS_L2_v2.2.0.nc
data/EUREC4A_RonBrown_Vaisala-RS_L2_v3.0.0.nc

src/julia/tradeCu_clouds_flux.nc

# Keep conda clean:
.CondaPkg/
__pycache__/
*.pyc
*.so *.dll *.dylib
.JuliaFormatter.toml
