Manifest.toml
.DS_Store

*.pdf
*.png
*.svg
*.eps

# directories
data/
proj_data/

src/julia/tradeCu_clouds_flux.nc

# Keep conda clean:
.CondaPkg/
__pycache__/
*.pyc
*.so *.dll *.dylib
.JuliaFormatter.toml
